h1,h2,h3,h4 {
	font-weight:normal;
}
h1 {
	text-transform:uppercase;
	font-size:24px;
	letter-spacing:-2px;
	color:#88a5b4;
    margin-top:20px;
}
h6 {
	border-bottom:1px solid #EEE;
	padding-bottom:10px;
}
#header {
	display:block;
	background:none repeat scroll 0 0 #F2F2F2;
	border: 1px solid #C2C2C2;
	margin-bottom:10px;
}
#headerLink {
	background:url('header/header.png') no-repeat;
	height:100px;
	width:700px;
	display:block;
	margin:20px 0;
}
#headerLink {
	text-indent:-9999em;
}
#nav_region {
	clear:both;
	height:38px;
	background: ;
	position:relative;
	margin-bottom:20px;
	background:url('header/reg_menu_centre.png') repeat-x;
    z-index:1;
}
#nav_region a {
	text-decoration:none;
}
#nav_region a:hover {
    color:#cd282f;
}
#nav_region_centre {
	height:38px;
	padding:0 10px;
	float:left;
}
#nav_region_centre li {
	list-style:none;
}
#nav_region_left {
	background:url('header/reg_menu_left.png') no-repeat;
	float:left;
	width:5px;
	height:38px;
	position:relative;
}
#nav_region_right {
	background:url('header/reg_menu_right.png') no-repeat;
	float:right;
	width:5px;
	height:38px;
	position:relative;
	top:0;
}
#nav_region_centre .nav_tier1{
	margin:0;
	padding:0;
	list-style:none;
}
#nav_region_centre .nav_tier1>li{
	display:inline;
	margin:0;
	float:left;
	margin-left:10px;
	position:relative;
}
#nav_region_centre .nav_tier1>li a {
	color:#333;
	font-size:18px;
	padding-top:5px;
    padding-left:10px;
    padding-right:10px;
	display:block;
}
#nav_region_centre .nav_tier1>li a:hover {
	color:#cd282f;
}
#nav_region_centre li.first {
	padding-top:10px;
}
#nav_region_centre .nav_tier1 ul li {
	padding-left:10px;
}
#nav_region_centre ul.nav_tier1 {
    list-style: none outside none;
    margin: 0;
    padding: 0;
	display:inline;
}
#nav_region_centre ul.nav_tier1 li {
    position: relative;
	margin:0;
}
#nav_region_centre li ul {
    display: none;
    left: 0;
    position: absolute;
    top: 37px;
	background:url('header/dropdown.png');
	width:182px;
	-moz-box-shadow:0 1px 0px #999;
	-webkit-box-shadow:0 1px 1px #999;
	-o-box-shadow:0 1px 1px #999;
	box-shadow:0 1px 0px #999;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	-o-border-radius:6px;
}
#nav_region_centre ul li a {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    color: #777777;
    display: block;
    padding: 5px;
	font-size:18px;
    text-decoration: none;
}
#nav_region_centre * html ul li {
    float: left;
    height: 1%;
}
#nav_region_centre * html ul li a {
    height: 1%;
}
#nav_region_centre ul li a:hover {
}
#nav_region_centre li ul li a {
    padding: 2px 5px;
}
#nav_region_centre li:hover ul, li.over ul {
    display: block;
}
#nav_region_centre .nav_tier1>li span {
	
}
#nav_region_centre .nav_tier2 {
	overflow:visible !important;
	position:absolute;
	display:none;
	top:0;
	left:0;
}
#nav_region_centre .nav_tier2>li{
	margin:0;
}
#nav_region_centre .nav_tier2:hover{
	display:block;
}
#content {
	clear:both;
}
.timestamp {
	color:#999;
}
ul.pagenumbers {
    text-align: center;
}
.pagenumbers li{
	list-style:none;
	display:inline-block;
    font-size:16px;
}
.pagenumbers li a{
    text-decoration:none;
}
.pagenumbers .disabled {
    padding: 5px;
}
.pagenumbers .current {
    padding: 5px;
    font-weight:bold;
    color:#cd282f;
}
.pagenumbers a:hover {
    color:#cd282f;
}
#calendar {
    border:1px solid #c2c2c2;
}
#sponsorsTable {
    border:1px solid #c2c2c2;
}
#sponsorsColumnTable td {
    border:0px solid #c2c2c2;
    text-align:center;
    vertical-align:middle;
    padding: 5px;
}
#sponsorsPageTable {
    width: 100%;
}
#sponsorsPageTable tr {
    border-bottom:1px solid #c2c2c2;
    border-top:1px solid #c2c2c2;
}
#sponsorsPageTable td {
    padding-left:10px;
    padding-right:10px;
    padding-top:20px;
    padding-bottom:20px;
}
#sponsorsPageTable td.sponsorImage {
    text-align:center;
    vertical-align:middle;
}
#sponsorsPageTable td.sponsorDescription .sponsorName {
    font-weight:bold;
}
#footerText {
    text-align:center;
    padding-top:20px;
}
.news-title {
    /*color:#2c5c75;*/
    /*color:#b86952;*/
    color:#CD282F;
    line-height:28px;
}

.news-title h2 {
    margin-bottom:10px;
}

hr {
    border:0px solid;
    padding:10px 0px;
}

#rightcontent h1 {
    text-align:center;
}

.news a {
    color:#2f58cd;
}

.news a:hover {
    color:#cf582d;
}
.news .itemTitle {
    width: 100%;
    border-top: 1px solid #c2c2c2;
    border-bottom: 1px solid #c2c2c2;
    padding-top: 5px;
    padding-bottom: 5px;
}
a {
    color:#2f58cd;
}
a:hover {
    color:#cf582d;
}
.pollsIndexTable {
    width: 100%;
}
.pollsIndexTable tr {
    border-bottom:1px solid #c2c2c2;
    border-top:1px solid #c2c2c2;
}
.pollsIndexTable td {
    padding-left:10px;
    padding-right:10px;
    padding-top:20px;
    padding-bottom:20px;
}
div.centered_block {
    width:700px;
    margin: 0px auto;
}
div.invoice {
    width: 600px;
    margin: 0px auto;
}
div.invoice.small {
    width: 500px;
}
div.invoice h2{
    width:500px;
    font-size:14px;
    font-weight:bold;
    margin:-20px 0px 10px 0px;
}
div.invoice h3{
    margin: 10px 0px 0px 0px;
    padding: 0px;
    color:#009900;
}
div.invoice h4 {
    margin: 30px 0px 0px 0px;
    padding: 0px;
    font-weight:bold;
}
div.invoice table{
    padding: 0px;
    margin: 0px;
    width:100%;
    border:0px;
    font-size:14px;
}
div.invoice td.price {
    width:150px;
}
div.invoice.small td.price {
    width:100px;
}

/*========================*/
/* Changes for Sem1, 2012 */
/*========================*/

/* Camp Leader application forms. */
div.application_form {
    width: 600px;
    margin: 0px auto;
}
div.application_form table {
    width: 600px;
}
div.application_form table td, div.application_form table th {
    width: 50%;
    padding: 5px;
    vertical-align:middle;
}
div.application_form table th {
    text-align:right;
}
.camp_form ul {
    list-style-type:none;
    margin-left:-30px;
}
.camp_form ul em {
    display:block;
    background: #eef;
    padding: 5px;
    margin: 10px -5px;
    font-style: normal;
    text-align: justify;
}
.camp_form div.submit_button {
    display:block;
    text-align:center;
    margin: 30px 0px 100px 0px;
}
.camp_form input[type=submit] {
    padding:10px 50px;
    font-weight: bold;
}

/* Fix for layout */
div#middlecontent {
    margin: 0px auto;
}

/* Fix for exec heads tables */
table.exec_head_table {
    width: 500px;
    margin: 0px auto;
    margin-top:40px;
}
table.exec_head_table th, table.exec_head_table td {
    padding:1px 5px;
}
table.exec_head_table th {
    font-weight:bold;
    text-align:right;
}
table.exec_head_table strong {
    display:block;
    text-align:center;
    font-size:16px;
    border-bottom: 1px solid #ccc;
}
table.exec_head_table h2 {
    text-align:center;
    margin:0px;
    font-size:20px;
}

ul.errorlist li {
    color: red;
    font-weight: bold;
    list-style-type:none;
    padding: 0px;
    margin: 0px;
}
ul.errorlist {
    padding: 0px;
    margin: 0px;
}
form th {
    vertical-align: middle;
    text-align: right;
}
form td, form th {
    padding: 10px;
}

form input[type=submit] {
    padding:10px;
    margin: 0px auto;
    text-align: center;
    font-weight: bold;
}
