{% extends "suggestion_base.html" %}

{% block suggestion_headextra %}
    <script type="text/javascript" src="{{ MEDIA_URL }}suggestions.js"></script>
{% endblock %}

{% block content %}
   {% spaceless %}
   <a href="./new" style="float: right;">Make a New Suggestion</a>
   <h1>Suggestions Made</h1>
   <span class='small_text'>Click on a suggestion to see the comments.</span>
   {% if page_obj.object_list %}
      {% for suggestion in page_obj.object_list %}
      <div class='list_suggestion' 
         onmouseover='suggestion_item_over(this)' 
         onmouseout='suggestion_item_out(this)'
         onclick='suggestion_item_onclick(this, {{suggestion.id}}, {{ page_obj.number }})' >
         <h3>{{ suggestion.subject }}</h3>
         <p class='suggestion_message'>
            {{ suggestion.message }}<br />
            <span class='small_text'>Last Modified: {{ suggestion.last_modified }}</span><br />
            <span class='small_text'>Comments ({{ comments_list.pop|slice:':1'|length }})</span>
         </p>
      </div>
      {% endfor %}
   {% else %}
      <div class='no_suggestions'>
         There are currently no suggestions...maybe you would like to make one.
      </div>
   {% endif %}
   {% if is_paginated %}{% load helpers %}{% generate_pagenumbers paginator page_obj 2 %}{% endif %}
   {% endspaceless %}
{% endblock %}
