{% extends "base.html" %}
{% block content %}
   <div class="suggestion">
      <h1 class='suggestion_header'>Idea: {{ suggestion.subject }}</h1>
      <p class='suggestion_message'>{{ suggestion.message }}</p>
   </div>

   <h2 class='comments'>Comments</h2>
   {% if comments %}
      <p class='small_text'>{{ comments|length }} comments made.</p>
      {% for comment in comments %}
         <div class='comment {% cycle odd even %}'>
            {{ comment.comment }}
         </div>
      {% endfor %}
   {% else %}
      <p>No comments; yet.<p>
   {% endif %}

   <hr />
   <form action="./{{ suggestion.id }}" method="post">
      <table class='comment_form'>
         {{ form.as_table }}
      </table>
      <p><input type="submit" value="Submit" /></p>
   </form>
{% endblock %}

