{% extends "suggestion_base.html" %}
   
{% block content %}
   <div class="suggestion">
      <a href="../?page={{ return_page_number }}" style="float: right;">Go Back</a>
      <h1 class='suggestion_header'>Idea: {{ suggestion.subject }}</h1>
      <p class='suggestion_message'>{{ suggestion.message }}</p>
   </div>

   <div class='comments'>
      <span class='comments_heading'>Comments</span>
      <div class='current_comments'>
         {% if comments %}
            <span class='small_text'>{{ comments|length }} comments made.</span>
            {% for comment in comments %}
               <div class='comment {% cycle 'odd' 'even' %}'>{{ comment.comment }}<br />
                  - {{ comment.name }}
               </div>
            {% endfor %}
         {% else %}
            <p>No comments...yet.<p>
         {% endif %}
      </div>

      <form action="./" method="post">
         <table class='comment_form'>
            {{ form.as_table }}
            <tr>
               <td></td>
               <td><input type="submit" value="Submit" /></td>
         </table>
      </form>
   </div>
{% endblock %}

