Options +ExecCGI
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ /~www/index.wsgi/$1 [QSA,PT,L]
RewriteRule ^$ /~www/index.wsgi/$1 [QSA,PT,L]
