<div class="container_12">
  <%= link_to "", root_path, :id => "headerLink" %>
  <div id="nav_region">
    <div id="nav_region_left"></div>
    <div id="nav_region_centre">
      <ul class="nav_tier1">
        <li><%= link_to "Home", root_path %></li>
      </ul>
    </div>
    <div id="nav_region_right"></div>
  </div>
</div>