<div class="content grid_3" id="leftcontent"> 
  <%= render 'shared/calendar' %>
</div>

<div class="content grid_6" id="middlecontent">
  <%= yield %>
</div>

<div class="content grid_3" id="rightcontent">
  <%= render 'shared/sponsors' %>
</div>

  