<html>
<head>
<title>Song Suggestions</title>
</head>

<style> 
    table, td, th {
      border:1px solid #cccccc;
      border-collapse:collapse;
    }
 
   th {
      font-style:italic;
      font-weight:normal;
   }
 
   body {
      font-family:"Arial"
   }

   .up {
      width:30;
      height:37;
      background:url("/static/upBright.png") no-repeat center;
   }
 
   .down {
      width:30;
      height:37;
      background:url("/static/downBright.png") no-repeat center;
   }
 
   .up:disabled {
      background:url("/static/upDull.png") no-repeat center;
   }
 
   .down:disabled {
      background:url("/static/downDull.png") no-repeat center;
   }
</style> 

<body>

   <script type="text/javascript" src="http://code.jquery.com/jquery-1.4.4.min.js"></script>
   <script type="text/javascript">
      function setVisibility(id, up, none, down) {
         $("#" + id + "_up").attr("disabled", up);
         $("#" + id + "_none").attr("disabled", none);
         $("#" + id + "_down").attr("disabled", down);
      }

      function toB(val) {
         if (val == "True") {
            return true
         } else {
            return false
         }
      }

      function voteSong(song_id, vote_method) {

         // set up a loading indicator next to the votes
         imgContent = "<img src='http://localhost:8000/static/loading_animation_small.gif' />";
         $("#votes_" + song_id + "_loading").html(imgContent);

         setVisibility(song_id, true, true, true);

         $.ajax({
            url: 'vote/',
            type: 'POST',
            data: ({'song_id': song_id, 'vote': vote_method}),
            success: function(data) {
               p = data.split(";")
               $("#votes_" + song_id).text(p[0]);
               $("#votes_" + song_id + "_loading").html('');
               setVisibility(song_id, toB(p[1]), toB(p[2]), toB(p[3]));
            },
            error: function(req, stat) {
               alert('Unfortunately, your vote was not successful! Please check your connection, and try again');
               $("#votes_" + song_id + "_loading").html('');
               setVisibility(song_id, false, false, false);
            },
            });
      };

      $().ready(calcVoted);
</script>


<div id='content'> 
    <table cellpadding="5"> 
      <tr>   
         <td colspan="5" align="center" style="background-color:#ee8800; color:#ffffff; font-weight:bold"> 
            Soctail Night Song Suggestions
         </td> 
      <tr> 
         <td colspan="5" style="color:#ee8800; font-weight:bold">Suggest a song</td> 
      </tr> 
   
      <tr> 
         <th align="center">Artist</td> 
         <th align="center">Title</td> 
         <th align="center">Do you have the song?</td> 
         <th align="center">Notes</td> 
         <th align="center">&nbsp;</td> 
      </tr> 
 
      <tr> 
         <form method="POST" action="" />
         <td align="center"><input type="text" name="artist" maxlength="50" /></td> 
         <td align="center"><input type="text" name="title" maxlength="50" /></td> 
         <td align="center"><input type="checkbox" name="hassong" /></td> 
         <td align="center"><input type="text" name="notes" maxlength="100"/></td> 
         <td align="center"><input type="submit" name="Submit" value="Submit"></td> 
         </form>
      </tr> 

      <tr><td colspan="5" align="center" style="font-style:italic">
            {% if submitted %}
            <div id="submitted">
               Your suggestion of {{ songdetails }} has been added, thanks!
            </div>
            {% endif %}
      </td></tr> 

      {% if songs|length %}
 
      <tr> 
         <td colspan="5" style="color:#ee8800; font-weight:bold">Current suggestions</td> 
      </tr> 
 
      <tr> 
         <th align="center">Artist</td> 
         <th align="center">Title</td> 
         <th align="center">Votes</td> 
         <th align="center" colspan="2">Vote for this song</td> 
      </tr> 

   {% for f in songs %}
      <tr>
         <td>{{ f.song.artist }}</td>
         <td>{{ f.song.title }}</td>
         <td align="center"><span id="votes_{{f.song.id}}">{{ f.song.votes }}</span><span id="votes_{{f.song.id}}_loading"></span></td>
         <td colspan="2" align="center">


            <button id="{{f.song.id}}_up" {% if f.states.0 %} disabled="true" {% endif %} class="up" style="vertical-align:middle" onclick="voteSong({{f.song.id}}, 'up');"></button> 
            <button id="{{f.song.id}}_none"  {% if f.states.1 %} disabled="true" {% endif %}  onclick="voteSong({{f.song.id}}, 'none');">None</button> 
            <button id="{{f.song.id}}_down" {% if f.states.2 %} disabled="true" {% endif %} class="down" style="vertical-align:middle" onclick="voteSong({{f.song.id}}, 'down');"></button> 
         </td>
      </tr>
   {% endfor %}
   {% endif %}
   </table>
</div>

</body>
</html>
