<h1>Listing news_items</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Content</th>
    <th>Publish date</th>
    <th>Author</th>
  </tr>

<% @news_items.each do |news_item| %>
  <tr>
    <td><%= news_item.title %></td>
    <td><%= news_item.content %></td>
    <td><%= news_item.publish_date %></td>
    <td><%= news_item.author %></td>
  </tr>
<% end %>
</table>

<br />
