{% extends "3-column-w-cal-sponsors.html" %}

{% block titlecontent %}Game Scoreboard{% endblock %}

{% block middlecontent %}
<h1>{{ game.name }} - Scoreboard</h1>
<table>
   <tr>
      <th>Killer</th><th>Kills</th>
   </tr>
   {% for killer, kills in counts %}
   <tr>
      <td style="width: 100px;">{{ killer }}</td><td>{{ kills }}</td>
   </tr>
   {% endfor %}
   <tr>
      <td style="border-top: solid 1px black;"><strong>Total</strong></td>
      <td style="border-top: solid 1px black;">{{ total }}</td>
   </tr>
</table>
{% endblock %}



