/*	Less Framework 3
	by Joni Korpi
	http://lessframework.com	*/


/*	Resets
	------	*/

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, 
p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em, 
img, ins, q, small, strong, sub, sup, dl, dt, dd, ol, ul, li, 
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, 
article, aside, figure, figcaption, hgroup, footer, header, nav, section {
	margin: 0;
	padding: 0;
	border: 0;
}

article, aside, figure, figure img, figcaption, hgroup,
footer, header, nav, section {
	display: block;
}

a img {border: 0;}

figure {position: relative;}
figure img {width: 100%;}


/*	Typography presets
	------------------	*/

.gigantic {
	font-size: 123px;
	line-height: 132px;
	letter-spacing: -2px;
}

.huge, h1 {
	font-size: 76px;
	line-height: 84px;
	letter-spacing: -2px;
}

.large, h2 {
	font-size: 46px;
	line-height: 48px;
	letter-spacing: -1px;
}

.big, h3 {
	font-size: 29px;
	line-height: 36px;
}

.normal, body {
	font: 18px/24px Palatino, Constantia, "Palatino Linotype", serif;
}

.small {
	font-size: 13px;
	line-height: 18px;
} 

.nobullets {
    list-style-type: none;
}


/*	Default 8-column layout
	60 px columns, 24 px gutters, 60 px margins, 768 px total
	---------------------------------------------------------
	1     2      3      4      5      6      7      8     
	60px  144px  228px  312px  396px  480px  564px  648px	*/

body {
	background: rgb(232,232,232);
	padding: 0px;
    margin: 0px;
	width: 768px;
    margin: 0 auto;
	-webkit-tap-highlight-color: rgb(255,255,0);
}

::selection 	 {background: rgb(255,255,0);}
::-moz-selection {background: rgb(255,255,0);}

header {
    background: #2f586d url("header_csesoc.png") no-repeat;
    /*background: url("header_spaceinvaders.png") no-repeat;*/
    margin-bottom:0px;
    width: 100%;
    position:relative;
    height: 180px;
}

    header ul {
        width:100%;
        list-style-type:none;
        display:block;
        position: absolute;
        background:#2f586d;
    }

    header ul li {
        float:left;
        min-width:100px;
        background:#2f586d;
    }

    header ul li a {
        text-align:center;
        display:block;
        width: 100%;
        height: 100%;
        padding: 5px 0px;
        color: #df9824; /* Different options, pick one */
        color: #ffa100;
        color: #efa012;
        color: #f8a012;
        font-weight:bold;
    }

    header ul li:hover, header ul li a:hover {
        text-decoration:none;
        background: #486574;
        color: #fff;
    }

    header ul li.on a {
        background:#688594;/*#88a5b4;*/
        color:#fff;
    }

    header ul li ul {
        background: #486574;
        display: none;
        position:absolute;
        top:30px;
        left:0px;
    }

    header ul li.on ul, header ul li.on ul a {
        background:#688594;
        color: #eee;
    }

    header li ul li a {
        background: #486574;
        color: #ccc;
        font-weight: normal;
    }

    header ul li ul li a:hover {
        color:#ffb844;
    }

    header li.on ul li.on a {
        font-weight: bold;
        color: #fff;
    }

    header ul li.on ul, header ul li:hover ul {
        display:block; 
    }

    header a#headerLink {
        width: 100%;
        height: 120px;
        display: block;
    }
    
    header a#headerLink:hover {
        background-color:none;
    }

#container {
    width: 100%;
}

/* left is 3-columns */
#left {
    width: 213px;
    margin-right: 24px;
    float: left;
    text-align:center;
    padding-left:15px;
    margin-top:20px;
}

/* main is 5-columns */
#main {
    float: left;
    width: 485px; /* 516px, minus border and padding */
    padding: 15px;
}


/*	13-column layout
	60 px columns, 24 px gutters, 72 px margins, 1212 px total (extra space for scrollbars)
	---------------------------------------------------------------------------------------
	1     2      3      4      5      6      7      8      9      10     11     12     13
	60px  144px  228px  312px  396px  480px  564px  648px  732px  816px  900px  984px  1068px	*/

@media only screen and (min-width: 1212px) {
	
	body {
		padding: 0px 72px 0;
		width: 1068px;
	}

    header {
        width: 1068px;
    }

    header ul li {
        min-width: 140px;
    }

    #left {
        width: 213px;
        margin-right: 24px;
    }

    #main {
        width:701px;
    }
	
}


/*	5-column layout
	60 px columns, 24 px gutters, 42 px margins, 480 px total
	---------------------------------------------------------
	1     2      3      4      5
	60px  144px  228px  312px  396px	*/

@media only screen and (max-width: 767px) and (min-width: 480px) {
	
	body {
		padding: 0px 0px 0;
		width: 480px;
		-webkit-text-size-adjust: 100%;
	}

    #left {
        width: 129px;
        margin-right: 24px;
    }

    #main {
        width: 281px;
    }

    header {
        background: #2f586d url("header_csesoc_small.png") no-repeat;
        height: 160px;
    }

    header ul li ul {
        top: 25px;
    }

    header ul li {
        min-width: 0px;
    }

    header ul {
        padding-top:2px;
        height: 24px;
    }

    header ul li a {
        display: inline;
        padding:4px 10px;
    }

}


/*	3-column layout
	60 px columns, 24 px gutters, 46 px margins, 320 px total
	---------------------------------------------------------
	1     2      3
	60px  144px  228px	*/

@media only screen and (max-width: 479px) {
	
	body {
		padding: 0px 0px 0;
		width: 320px;
		-webkit-text-size-adjust: 100%;
	}

    #left, #main {
        width: 290px;
        padding-right:15px;
        margin-right: 0px;
        float: none;
        clear:right;
    }

    #main {
        clear:left;
        width: 290px;
    }

    header {
        background: #2f586d url("header_csesoc_small.png") no-repeat;
        height: 100%;
    }

    header ul {
        margin-bottom:50px;
        position: inherit;
    }

    header ul li ul {
        display: block;
        position: relative;
        top: 0px;
        left: 0px;
    }

    header ul li {
        display:block;
        width: 100%;
        clear:right;
    }

	
}
