html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, 
p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em, 
img, ins, q, small, strong, sub, sup, dl, dt, dd, ol, ul, li, 
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, 
article, aside, figure, figcaption, hgroup, footer, dropdown, nav, section {
	margin: 0;
	padding: 0;
	border: 0;
}

.master {
    width: 1200px;
    margin: auto;
    background-color: #cccccc;
    font-family: Arial;
}

/*Header image*/
header {
    background: #2f586d url("header_csesoc.png") no-repeat;
    width: 100%;
    position: relative;
    height: 180px;
}
    header a#headerLink {
        width: 100%;
        height: 120px;
        display: block;
    }
    
    header ul {
        float: left;
        display: block;
        width: 100%;
        list-style-type: none;
        position: absolute;
        background: #2f586d;
    }

    header ul li emptylist {
        float: left;
        position: absolute;
        display: none;
        width: 100%;
        background: #486574;
        top: 30px;
        left: 0px;
        height: 30px;
    }

    header ul li {
        float: left;
        display: block;
        min-width: 150px;
        height: 30px;
        text-align: center;
        background: #2f586d;
    }

    header ul li a {
        color: #cccccc;
        line-height: 30px;
        vertical-align: middle;
        text-decoration: none;
    }

    header ul li ul {
        background: #486574;
        display: none;
        position: absolute;
        top: 30px;
        left: 0px;
    }

    /*Current page menu item*/
     header ul li.on ul, header ul li.on emptylist {
        display: block;
    }

    header ul li.on, header ul li.on ul, header li.on ul li, header ul li.on emptylist {
        background: #688594;
    }

    header ul li.on a, header ul li.on ul li.on a {
        color: #ffffff;
    }

    header ul li.on ul li a {
        color: #cccccc;
    }

    /*Hovered menu item*/
     header ul li:hover ul, ul li:hover emptylist {
        display: block; 
        z-index: 1;
    }

   header ul li:hover, header ul li:hover ul, header ul li:hover ul li, header ul li:hover emptylist {
        background: #486574;
    }

    header ul li:hover a, header ul li:hover ul li:hover a {
        color: #ffffff;
    }

    header ul li:hover ul li a {
        color: #cccccc;
    }

/*Content panels and footer*/
.content {
    float: left;
    margin: 10px;
    background-color: #ffffff;
    border-style: solid;
    border-width: 1px;
    border-color: #aaaaaa;

    border-top-left-radius: 10px;
    -moz-top-left-border-radius: 10px;
    border-top-right-radius: 10px;
    -moz-top-right-border-radius: 10px;
}

.content h1 {
    background-color: #2f586d;
    color: #ffffff;
    font-size: 1em;
    font-weight: normal;
    padding: 4px;

    border-top-left-radius: 10px;
    -moz-top-left-border-radius: 10px;
    border-top-right-radius: 10px;
    -moz-top-right-border-radius: 10px;
}

.content#leftcontent {
    left: 0px;
    width: 228px;
}

.content#middlecontent {
    left: 250px;
    width: 678px;
}

.content#rightcontent {
    left: 950px;
    width: 228px;
}

#footer {
    text-align: center;
    padding-top: 20px;
    clear: both;
    font-size: 0.85em;
    color: #888888;
}

/*Stream_items table*/
table.stream_item {
    width: 100%;
    color: #3d3d3d;
}

table.stream_item td {
    padding: 10px;
    vertical-align: top;
}

table.stream_item td.pubdateAndAuthor {
    width: 17%;
    text-align: right;
    color: #2f586d;
    font-size: 0.9em;
    font-weight: bold;
    padding-top: 15px;
}

table.stream_item td.headlineAndText {
    width: 83%;
    font-size: 0.9em;
}

table.stream_item td.headlineAndText h2 {
    font-weight: normal;
    font-size: 1.5em;
    padding-bottom: 7px;
}

/*Pagenumbers*/
ul.pagenumbers {
    list-style-type: none;
    width: 100%;
    text-align: center;
    padding-bottom: 5px;
}

ul.pagenumbers li {
    display: inline;
    list-style-type: none;
    padding: 5px;
}

ul.pagenumbers li a {
    color: #888888;
    display: inline;
    list-style-type: none;
    padding: 5px;
}

ul.pagenumbers li strong {
    color: #2f586d;
}

ul.pagenumbers li strong.disabled {
    color: #ffffff;
}

/*Sponsors table in right sidebar*/
table.sponsorstable {
    width: 100%;
}

table.sponsorstable td {
    padding: 10px;
    vertical-align: middle;
    text-align: center;
    border-bottom: 1px solid #aaaaaa;
}

/*Sponsors table on sponsors page*/
table.sponsorpagetable {
    width: 100%;
}

table.sponsorpagetable td.nameAndLogo {
    width: 40%;
    padding: 10px;
    vertical-align: middle;
    text-align: center;
}

table.sponsorpagetable td.nameAndLogo h2 {
    font-size: 1.0em;
    color: #3d3d3d;
}

table.sponsorpagetable td.description {
    width: 60%;
    padding: 10px;
    vertical-align: middle;
    text-align: left;
}

/*Misc other*/
a.newsArrow {
    color: #4d4d4d;
    text-decoration: none;
}

small {
    font-weight: normal;
    font-size: 0.7em;
    color: #888888;
}   
