body {
    margin: 0px;
}

.master {
    width: 1200px;
    margin: auto;
}

/*Header image*/
.header {
    height: 120px;
    background-color: #4D4D4D
}

/*Dropdown menu*/
.dropdown {
    height: 70px; /*Menu is split into 2 halves, each 35px high*/
    position: relative;
}
    .dropdown ul#outerul {
        list-style-type: none;

        padding: 0px;
        margin: 0px;
    }

    /*Show currently selected menu item when NOT hovering over dropdown*/
    .dropdown ul#outerul li#outerli ul li.current {
        background-color: #D9D9D9;
    }

    .dropdown ul#outerul li#outerli ul li.current a {
        color: #FF9900;
    }

    .dropdown ul#outerul li#outerli ul li.current ul {
        display: block;
        top: 35px;
    }

    .dropdown ul#outerul li#outerli ul li.current ul li a {
        color: #4D4D4D;
    }

    /*Do NOT show currently selected menu item when hovering over rest of dropdown*/
    .dropdown ul#outerul li#outerli:hover ul li.current {
        background-color: #4D4D4D;
    }

    .dropdown ul#outerul li#outerli:hover ul li.current a {
        color: #FFFFFF;
    }

    .dropdown ul#outerul li#outerli:hover ul li.current ul {
        display: none;
    }

    /*Show currently selected menu item when hovering over it*/
    .dropdown ul#outerul li#outerli:hover ul li.current:hover {
        background-color: #D9D9D9;
    }

    .dropdown ul#outerul li#outerli:hover ul li.current:hover a {
        color: #FF9900;
    }

    .dropdown ul#outerul li#outerli:hover ul li.current:hover ul {
        display: block;
        top: 35px;
    }

    .dropdown ul#outerul li#outerli:hover ul li.current:hover ul li a {
        color: #4D4D4D;
    }

    .dropdown ul#outerul li#outerli:hover ul li.current:hover ul li a:hover {
        color: #FF9900;
    }

    /*Highlight currently selected submenu item*/
    .dropdown ul#outerul li#outerli:hover ul li.current:hover ul li.currentsub a {
        color: #FF9900;
    }

    .dropdown ul#outerul li#outerli ul li.current ul li.currentsub a {
        color: #FF9900;
    }

    /*Show other dropdown menu items*/
    .dropdown ul#outerul li#outerli ul {
        list-style-type: none;

        position: absolute;

        padding: 0px;
        margin: 0px;
    }
    
    .dropdown ul#outerul li#outerli ul li {
        float: left;
        display: block;

        width: 200px;
        height: 35px;

        /*Center text*/
        line-height: 35px;
        text-align: center;
    }

    .dropdown ul#outerul li#outerli ul li ul {
        display: none;
    }

    .dropdown ul#outerul li#outerli li a {
        display: block;

        color: #FFFFFF;
        text-decoration: none;
        font-weight: bold;
    }

    /*Show submenu when hovering over menu item*/
    .dropdown ul#outerul li#outerli li:hover a {
        color: #FF9900;
    }
    
    .dropdown ul#outerul li#outerli ul li:hover {
        background-color: #D9D9D9;
    }

    .dropdown ul#outerul li#outerli ul li:hover ul {
        display: block;
        top: 35px;
    }

    .dropdown ul#outerul li#outerli ul li:hover ul li a {
        color: #4D4D4D;
     }

    /*Highlight submenu item when hovering over it*/
    .dropdown ul#outerul li#outerli ul li:hover ul li:hover a {
        color: #FF9900;
    }

    /*Show dropdown background across entire width of the page*/
    .dropdown .bgupper {
        background-color: #4D4D4D;
        height: 35px;
        position: absolute;
        top: 0px;
        z-index: -1;
        width: 100%;
    }
    
    .dropdown .bglower {
        background-color: #D9D9D9;
        height: 35px;
        position: absolute;
        top: 35px;
        z-index: -1;
        width: 100%;
    }

/*'False columns' background, so that all columns appear to have the same height*/
.background {
    background: #FFFFFF url("columns.png") repeat-y 50% 0;
    min-height: 100%;
}

/*Content panels and footer*/
.leftcontent {
    float: left;
    padding: 0px 10px 0px 0px;
    width: 250px;
}

.middlecontent {
    top: 10px;
    margin-left: 250px;
    margin-right: 250px;
}

.rightcontent {
    float: right;
    padding: 0px 0px 0px 0px;
    width: 250px;
}

.footer {
    text-align: center;
    padding-top: 20px;
    clear: both;
}
