div.suggestion .suggestion_message {
   border-bottom-style: solid;
   border-width: 1px;
   border-color: black;
}

div.comments {
   margin-left: 30px;
}

div.comments .current_comments {
   border-bottom-style: solid;
   border-width: 1px;
   border-color: black;
   margin-bottom: 20px;
}

div.comments .comments_heading {
   font-size: 16px;
}

.small_text {
   font-style: italic;
   font-size: 10px;
}

div.comments .comment {
   padding-top: 5px;
   padding-bottom: 5px;
   padding-left: 10px;
   padding-right: 10px;
}

div.comments .comment.odd {
   background-color: #E0E0E0;
}

div.comments .comment_form th {
   vertical-align: top;
}

div.list_suggestion {
   padding: 5px 5px 5px 5px;
   margin-bottom: 5px;
   margin-top: 5px;

   border-style: solid;
   border-width: 1px;
   border-color: black;
}
