<ul class="pagenumbers"> 
    <li>{% if has_previous %}<a href="?page={{ page_obj.previous_page_number }}">&#xab;</a>{% else %}<span class="disabled">&#xab;</span>{% endif %}</li> 
    {% for page in range %}
        <li> 
        {% if page %}
            {% ifnotequal page current %}
                <a href="?page={{ page }}">{{ page }}</a> 
            {% else %}
                <span class="current">{{ page }}</span> 
            {% endifnotequal %}
        {% else %}
            <span class="disabled">&hellip;</span>
        {% endif %}
        </li> 
    {% endfor %}
    <li>{% if has_next %}<a href="?page={{ page_obj.next_page_number }}">&#xbb;</a>{% else %}<span class="disabled">&#xbb;</span>{% endif %}</li> 
</ul> 
