<ul class="pagenumbers"> 
    <li>{% if has_previous %}<a href="?page={{ page_obj.previous_page_number }}">&#xab;</a>{% else %}<strong class="disabled">&#xab;</strong>{% endif %}</li> 
    {% for page in range %}
        <li> 
        {% if page %}
            {% ifnotequal page current %}
                <a href="?page={{ page }}">{{ page }}</a> 
            {% else %}
                <strong>{{ page }}</strong> 
            {% endifnotequal %}
        {% else %}
            &hellip;
        {% endif %}
        </li> 
    {% endfor %}
    <li>{% if has_next %}<a href="?page={{ page_obj.next_page_number }}">&#xbb;</a>{% else %}<strong class="disabled">&#xbb;</strong>{% endif %}</li> 
</ul> 
