<!doctype html public "-//w3c//dtd xhtml 1.0 strict//en" "http://www.w3.org/tr/xhtml1/dtd/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <link href="{{ MEDIA_URL }}master.css" media="screen" rel="stylesheet" type="text/css"/>
    <link href="{{ MEDIA_URL }}icon.png" rel="icon" type="image/png"/>
    <title> {% block titlecontent %} {% endblock %}</title>
    {% block extraheadercontent %}{% endblock %}
</head>

<body>
    <div class="master">
        <header>
            <a id="headerLink" href="/"></a>
            <ul>
                <li {% ifequal nav 'home' %} class="on" {% endifequal %}> <a href="/home/news/">Home</a>
                    <ul>
                        <li {% ifequal subnav 'news' %} class="on" {% endifequal %}> <a href="/home/news">News</a> </li>
                        <li {% ifequal subnav 'calendar' %} class="on" {% endifequal %}> <a href="/home/calendar">Event Calendar</a> </li>
                    </ul>
                </li>
                <li {% ifequal nav 'about' %} class="on" {% endifequal %}> <a href="{% url mainsite.views.static path="about" %}">About</a> 
                    <ul>
                        <li {% ifequal subnav 'history' %} class="on" {% endifequal %}> <a href="{% url mainsite.views.static path="about/history" %}">History</a> </li>
                        <li {% ifequal subnav 'constitution' %} class="on" {% endifequal %}> <a href="{% url mainsite.views.static path="about/constitution" %}">Constitution</a> </li>
                        <li {% ifequal subnav 'people' %} class="on" {% endifequal %}> <a href="{% url mainsite.views.static path="about/people" %}">People</a> </li>
                        <li {% ifequal subnav 'workinggroups' %} class="on" {% endifequal %}> <a href="{% url mainsite.views.static path="about/workinggroups" %}">Working Groups</a> </li> 
                    </ul>
                </li>
                <li {% ifequal nav 'forstudents' %} class="on" {% endifequal %}> <a href="{% url mainsite.views.static path="forstudents" %}">For Students</a> 
                    <ul>
                        <li {% ifequal subnav 'games' %} class="on" {% endifequal %}> <a href="{% url mainsite.views.static path="forstudents/games" %}">Games</a> </li>
                        <li {% ifequal subnav 'bling' %} class="on" {% endifequal %}> <a href="{% url mainsite.views.static path="forstudents/bling" %}">Bling for Ubuntu</a> </li>
                        <li {% ifequal subnav 'irc' %} class="on" {% endifequal %}> <a href="{% url mainsite.views.static path="forstudents/irc" %}">IRC</a> </li>
                    </ul>
                </li>
                <li {% ifequal nav 'oursponsors' %} class="on" {% endifequal %}> <a href="/oursponsors/">Our Sponsors</a> 
                    <emptylist {% ifequal nav 'oursponsors' %} class="on" {% endifequal %}> </emptyList>
                </li>
                <li> <a href="http://beta.csesoc.unsw.edu.au/">Beta</a>
                    <emptylist> </emptyList>
                </li>
                <li> <a href="http://wiki.csesoc.unsw.edu.au">Wiki</a> 
                    <emptylist> </emptyList>
                </li>
            </ul>
        </header>

        <div class="content" id="leftcontent"> 
            {% block leftcontent %}{% endblock %}
        </div>

        <div class="content" id="middlecontent">
            {% block middlecontent %}{% endblock %}
        </div>

        <div class="content" id="rightcontent">
            {% block rightcontent %}{% endblock %}
        </div>
 
        <div id="footer">
            Copyright &copy; CSESoc 2011
        </div>

    </div>

    <script type="text/javascript">
        var gajshost=(("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
        document.write(unescape("%3cscript src='" + gajshost + "google-analytics.com/ga.js' type='text/javascript'%3e%3c/script%3e"));
    </script>
    <script type="text/javascript">
        try {
            var pagetracker=_gat._gettracker("ua-7494949-1");
            pagetracker._trackpageview();
        } catch(err) {}
    </script>

</body>
</html>

