{% extends "2-column-left.html" %}

{% block titleContent %}Event Calendar{% endblock %}

{% block middlecontent %}
    <IFRAME src="http://localhost:80/wordpress/restylegc-1.1.0/restylegc.php?height=600&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=qorej5kt7vmh6a5hgudfhaghck%40group.calendar.google.com&amp;color=%23AB8B00&amp;ctz=Australia%2FSydney" style=" border-width:0 " width="800" height="600" frameborder="0" scrolling="no"></IFRAME>
{% endblock %}

{% block rightcontent %}
    <h1>BLAH!!!</h1>
{% endblock %}

