{% extends "2-column-right-w-calendar.html" %}

{% block titlecontent %}Chat to CSESoc{% endblock %}

{% block middlecontent %}

<h1>Chat to CSESoc</h1>

<iframe src="https://widget.mibbit.com/?settings=da65e533f816ba7dba031671fb719f79&amp;server=csesoc-server.cse.unsw.edu.au&amp;channel=%23csesoc&amp;autoConnect=true" width="750" height="600" frameborder="0"></iframe>

<p>To connect via a client, <a href="irc://irc.csesoc.unsw.edu.au">irc.csesoc.unsw.edu.au</a> port 6667 </p>
<p> You can find a comparison of many clients on wikipedia at <a href="http://en.wikipedia.org/wiki/Comparison_of_Internet_Relay_Chat_clients">http://en.wikipedia.org/wiki/Comparison_of_Internet_Relay_Chat_clients</a> </p>

{% endblock %}
