{% extends "base.html" %}
{% block headextra %}
<link rel='stylesheet' type='text/css' href='http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/themes/smoothness/jquery-ui.css' />

<script type='text/javascript' src='http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.js'></script>
<script type='text/javascript' src='http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/jquery-ui.js'></script>
<script type='text/javascript'>
var behaviors = new Array();
function add_behavior(functor)
{           
    behaviors.push(functor);
}               
                
</script>
{{ form.media }}
<link rel='stylesheet' type='text/css' href='/static/jquery.weekcalendar.css' />

<script type='text/javascript' src='/static/jquery.weekcalendar.js'></script>
<script type='text/javascript'>
	var year = new Date().getFullYear();
	var month = new Date().getMonth();
	var day = new Date().getDate();

   var eventWidgets = {
      {% for field in form %}
      {{ field.html_name }} : '{{ field|escapejs }}',
      {% endfor %}
   };

	var eventData = {
		events : [
         {% for slot in slots %}
               {"id":{{ slot.id }}, "start": new Date({{ slot.start.year }}, {{ slot.start.month }}-1, {{ slot.start.day }}, {{ slot.start.hour }}, {{ slot.start.minute }} ), "end": new Date({{ slot.end.year }}, {{ slot.end.month }}-1, {{ slot.end.day }}, {{ slot.end.hour }}, {{ slot.end.minute }}), "title": "{{ slot.title }}<br />"+eventWidgets[{{slot.id}}]},
         {% endfor %}
		]
	};

   $(document).ready(function() {
      $('#calendar').weekCalendar({
         timeslotsPerHour: 6,
         // height: function($calendar){
           // return $(window).height() - $("h1").outerHeight();
         // },
         height: function($calendar){
            return 1300;
         },
         data:eventData,
         date: new Date(2011, 01, 21, 09, 00, 00),
         daysToShow: 5,
         firstDayOfWeek: 1,
         buttons: false,
         overlapEventsSeparate: true,
         allowCalEventOverlap: true,
         scrollToHourMillis: 0,
         readonly: true,
         businessHours: { start: 8, end: 18, limitDisplay: true }
      });

      // Add behaviors specified by widgets
      for (var i=behaviors.length-1; i>=0; --i) {
          behaviors[i]();
      }   
   });

</script>
<style type="text/css">
   .wc-time { display: none; }
   .wc-cal-event { cursor: default; border: 2px dotted }
</style>
{% endblock %}
{% block content %}

<h1>CSESoc - Register to help out!</h1>
<p>{{ message }}</p>
<p>To see who's already available for each time, check the <a href="/oweek/slots">slots page</a></p>
<p>Notes for stall volunteers:
<ul>
<li>Wear your CSESoc shirt, if you have one</li>
<li>Bring a bottle of water, as it may be hot</li>
<li>Make sure the cash box is secure and locked when not in use.  The executive member at the stall will hold the key</i>
<li>Keep track of who has keys, so they don't leave the stall with them</li>
<li>Come on time, to relieve the person before you</li>
<li>Keep track of who has deposited for camp.  Keep a list and be sure to give a receipt</li>
<li>Give a receipt for any purchases and keep a carbon copy.  Shirts are $10, and mugs are $15.</li>
<li>People who purchase something during o-week (shirt, mug, camp deposit) enter a raffle for a free ipod</li>
<li>Promote everything (camp, csesoc, installfest, bbqs, shirts, etc.)</li>
</ul>
</p>
<form action="" method="post">
   <p><input type="submit" value="Submit" /></p>
   <div id='calendar'></div>
   <p><input type="submit" value="Submit" /></p>
</form>

{% endblock %}
