<td class = "pubdateAndAuthor">{{ object.pub_date|date:"d M y"|upper }}<br /><small>{{ object.author }} @ {{ object.pub_date|date:"H:i" }}</small></td>
<td class = "headlineAndText"><h2>{{ object.name }}</h2> 
{{ object.description|safe }}
<br /><br />
When: <strong>{{ object.time }}</strong><br />
Where: <strong>{{ object.location|safe }}</strong><br />
{% if object.registration_required %}
Registration: Email <strong>{{ object.registration_email }}</strong> to register<br />
{% endif %}
{% if object.volunteers_required %}
Volunteers: Email <strong>{{ object.volunteers_email }}</strong> to volunteer<br />
{% endif %}
