{% extends "suggestion_base.html" %}
   
{% block middlecontent %}
      <a href="../?page={{ return_page_number }}" style="float: right;">Go Back</a>
      <h1>Suggestion: {{ suggestion.subject|title }}</h1>
      <h4>Message</h4>
      <p class='suggestion_message'>{{ suggestion.message|urlize }}</p>

   <div class='comments'>
      <h4>Comments</h4>
      {% if comments %}
         {% for comment in comments %}
            <div class='comment {% cycle 'odd' 'even' %}'>{{ comment.comment|urlize }}<br />
               - {{ comment.name|title }}
            </div>
         {% endfor %}
      {% else %}
         <p>No comments yet.<p>
      {% endif %}

      <hr>

      <form action="./" method="post">
         <table class='comment_form'>
            {{ form.as_table }}
            <tr>
               <td></td>
               <td><input type="submit" value="Submit" /></td>
         </table>
      </form>
   </div>
{% endblock %}

