{% extends '2-column-left.html' %}

{% block titlecontent %}Our Sponsors{% endblock %}

{% block middlecontent %}

<h1>Our Sponsors</h1>

<table id="sponsorsPageTable">
{% for sponsor in allSponsors %}
    {{ sponsor.get_rendered_html }}
{% endfor %}
</table>

{% endblock %}

{% block rightcontent %}
<div class='grid_3' style='position:fixed;'>
<h1>Become a sponsor</h1>
<p>For information about how you can sponsor CSESoc, please see our <a href="/static/SponsorshipProposal2012.pdf" >2012 Sponsorship Proposal</a>.</p>

<a href="/static/SponsorshipProposal2012.pdf"><img src="{{ STATIC_URL }}sponsorship_proposal_thumbnail.png" style="display:block; margin-left:auto; margin-right:auto;"/></a><br/>

<p>For further enquiries and to discuss sponsorship opportunities, please email <a href = "mailto:csesoc.copresidents@csesoc.unsw.edu.au">csesoc.copresidents@csesoc.unsw.edu.au</a></p>
</div>
{% endblock %}
