{% extends '3-column-w-calendar.html' %}

{% block titlecontent %}Our Sponsors{% endblock %}

{% block middlecontent %}

<h1>Our Sponsors</h1>

<table id="sponsorsPageTable">
{% for sponsor in allSponsors %}
    {{ sponsor.get_rendered_html }}
{% endfor %}
</table>

{% endblock %}

{% block rightcontent %}

<h1>Become a sponsor</h1>
<p>For information about how you can sponsor CSESoc, please see our <a href = http://dl.dropbox.com/u/5997829/CSESoc%20Sponsorship%20Proposal%202011.pdf>2011 Sponsorship Proposal</a>.</p>

<a href = http://dl.dropbox.com/u/5997829/CSESoc%20Sponsorship%20Proposal%202011.pdf><img src="{{ STATIC_URL }}sponsorship_proposal_thumbnail.png"/></a>

<p>For further enquiries and to discuss sponsorship opportunities, please email <a href = "mailto:csesoc.copresidents@csesoc.unsw.edu.au">csesoc.copresidents@csesoc.unsw.edu.au</a></p>
{% endblock %}
