{% extends "1-column.html" %}
{% block extraheadercontent %}
<meta http-equiv="refresh" content="5;{% url campattendees.views.signup %}" />
{% endblock %}
{% block middlecontent %}
   <h1>Thanks!</h1>
   <p>Thanks for signing up, you'll hear from us soon!</p>
   <p>Meanwhile, don't forget to pay your deposit if you want to secure your spot! Deposits can be made in person (cash only) at a CSESoc BBQ or to a CSESoc Executive in the Socs Office (K17 Basement).</p>
   <p>Alternatively, you may pay the full amount by DD or Paypal. See <a href='/camp'>the camp details page</a> for more information.</p>
   <p><a href="{% url campattendees.views.signup %}">Return to form</a></p>
{% endblock %}

