div.comments {
   margin-left: 30px;
}

div.comments .comment {
   padding-top: 5px;
   padding-bottom: 5px;
   padding-left: 10px;
   padding-right: 10px;
   white-space: pre-wrap;
}

div.comments .comment.odd {
   background-color: #E0E0E0;
}

form table th {
   vertical-align: top;
}

form table th label {
    font-weight: normal;
}

div.list_suggestion {
   padding: 5px 5px 5px 5px;
   margin-bottom: 5px;
   margin-top: 5px;
   border: solid 1px #c2c2c2;
}
